body{
    background-color: #1c1c1c;
    color: #cccccc;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    background-color: #434343;
    color: #cccccc;
    max-width: 45px;
    border-radius: 5px !important;
}

button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 2px 10px;
    height: 21px;
    border: none;
    color: #cccccc;
    background-color: rgb(87, 87, 90);
    transition: background-color 0.100s ease, color 0.100s ease;
}

button:hover {
    background-color: #b58900;
}